# Pandas Tutorial (Day-11)

This notebook explains

#### 1- How to Inatall Libraries

In [22]:
# pip install pandas
# pip install numpy

### 2- Import libraies

In [23]:
import pandas as pd
import numpy as np

In [24]:
# Object creation
s = pd.Series([1,2,3,4,5,6,np.nan,7])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
7    7.0
dtype: float64

In [25]:
dates = pd.date_range('20240201', '20240301' ,freq='D')
print(dates)
len(dates)

DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04',
               '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29', '2024-03-01'],
              dtype='datetime64[ns]', freq='D')

30

In [26]:
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame(np.random.randn(29,4),index=dates, columns=list("EFGH"))
print(df)

                   E         F         G         H
2024-02-01  0.944628 -0.746963  0.606073  1.623237
2024-02-02 -0.612834 -0.090527  1.010562  2.480776
2024-02-03  1.648741  0.458099 -0.009517  0.760697
2024-02-04  0.306806  0.667856 -0.615155 -1.002388
2024-02-05 -0.406895 -0.201415  0.229159  0.904020
2024-02-06 -1.211054  1.057763 -0.864059 -0.526508
2024-02-07  0.431163 -0.785138  1.112061  0.319389
2024-02-08  0.458353  0.368758  0.905598 -0.153453
2024-02-09 -0.955667 -0.164912  0.180257  0.446320
2024-02-10 -0.668229  1.111110  1.331655  0.323329
2024-02-11  0.392046 -1.465721  0.331282  0.268361
2024-02-12  0.098339 -0.417744 -0.381257 -0.553202
2024-02-13  0.540560  0.206847  0.784627  0.934535
2024-02-14 -0.343800 -0.308201  1.242615  0.824659
2024-02-15 -0.821339  0.599889 -1.025711  0.000574
2024-02-16 -1.123194 -1.033781  0.100341  0.441496
2024-02-17 -0.701318 -0.117960 -0.610483 -0.744904
2024-02-18 -2.154011 -0.525183 -0.994933 -0.194779
2024-02-19 -1.426555  0.488978 -0.188372  0.834015
2024-02-20  0.672401 -0.782356 -2.228657 -0.145768
2024-02-21  1.416984 -0.246875  0.087810 -0.215530
2024-02-22 -0.958217  1.471289  0.185708  0.852838
2024-02-23  0.087150  0.607166  1.061150  0.367043
2024-02-24 -0.502718 -0.415291 -0.123435 -0.388599
2024-02-25 -1.036799 -0.055786 -0.701833 -0.275674
2024-02-26 -0.761293  0.214014  0.301599  0.544772
2024-02-27  0.365344 -1.135088 -1.096332 -0.636344
2024-02-28  0.108348  0.183019  1.056752 -0.532804
2024-02-29 -1.510763 -1.347937  0.845201  1.793049

In [27]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220203"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["girl","Woman", "girl", "Woman"]),
        "F": "females"
    }
)
print(df2)
print(df2.dtypes)

     A          B    C  D      E        F
0  1.0 2022-02-03  1.0  3   girl  females
1  1.0 2022-02-03  1.0  3  Woman  females
2  1.0 2022-02-03  1.0  3   girl  females
3  1.0 2022-02-03  1.0  3  Woman  females
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [28]:
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame(np.random.randn(29,4),index=dates, columns=list("EFGH"))
print(df.head(2))
print(df.tail(2))
print(df.index)

                   E         F         G         H
2024-02-01  1.553931  0.450749 -0.382651 -2.334866
2024-02-02  0.731664  0.047837 -0.748996  0.517475
                   E         F         G         H
2024-02-28 -0.839831 -1.252885  0.275719 -1.113078
2024-02-29  0.362919 -0.044535 -0.096247  0.006876
DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04',
               '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29'],
              dtype='datetime64[ns]', freq='D')

In [29]:
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame((np.random.randn(29,4)*100),index=dates, columns=list("EFGH"))
dfarray = df.to_numpy
print(dfarray())

[[ 3.41540455e+01  4.68654818e+01  2.52492730e+01  5.85806110e+01]
 [-1.97614701e+02 -7.52491780e+01  1.09173159e+02 -1.48442006e+02]
 [ 1.06578922e+02  6.08497480e+01  9.88787129e+01  6.73218775e+01]
 [ 6.26209358e-01 -8.07644396e+01 -1.55945767e+02  4.27235707e+01]
 [ 6.85830949e+01  8.00468600e+01 -7.46251947e+01 -1.21644235e+02]
 [ 6.31826172e+01  9.27559732e+01 -4.66982787e+01  1.20790634e+02]
 [-4.23446365e+01  2.45514252e+01  1.04506696e+02  8.45523331e+01]
 [ 4.50423331e+01  1.48524267e+02 -7.08822443e+01 -3.46600352e+01]
 [ 1.67485195e+01 -8.29920035e+01 -1.35401018e+02  5.75750550e+01]
 [-8.28259047e+01  7.57526790e+01  3.67498839e+01 -6.25096296e+01]
 [ 8.50567159e+01 -8.78639752e+01 -1.33126019e+02  5.81457618e+01]
 [ 1.25368998e+02  3.26305576e+02  4.26361938e+01 -4.40224455e+01]
 [ 2.22425277e+01 -1.45693104e+02 -3.57364446e+01  1.12353856e+02]
 [-9.73004082e+01 -5.71125697e+01 -2.16692262e+01  1.24102566e+01]
 [ 4.27521436e+01 -1.47022413e+02 -3.23601903e+01  6.13165407e+01]
 [-1.47201617e+01 -8.29562762e+01  1.89203332e+02 -4.64920755e+01]
 [-2.59372039e+01 -1.49677532e-01 -1.42662225e+02 -1.85700566e+02]
 [ 2.57934606e+01  2.94121103e+00  3.92400078e+01 -1.66189285e+02]
 [ 1.32510261e+02  1.21714974e+02  4.16351127e+01 -1.50768863e+02]
 [-2.51090504e+02 -9.87894122e+01 -1.21505555e+02  9.05781939e+00]
 [-3.18398713e+01 -1.43490323e+02  5.00802841e+01  1.75504896e+02]
 [ 1.98019010e+02  1.35080212e+02  1.19814105e+02  2.67391309e+02]
 [ 1.56592496e+02 -2.31934987e+02 -6.31025759e+01  9.23762197e+00]
 [ 6.24174521e+01 -9.07636526e+01 -7.95526523e+01 -4.99860093e+01]
 [-1.08500437e+01 -7.46159518e+01 -3.51450172e+01 -2.42706528e+02]
 [ 1.19581979e+02  1.59884285e+02 -8.30974190e+01 -7.10789480e+01]
 [ 2.80627946e+01 -1.32301377e+02 -8.72218551e+01 -8.11757890e+01]
 [-4.66433217e+01 -4.70191146e+01 -3.07195033e+01  7.62563639e+01]
 [-1.58269080e+02 -6.45824862e+01  1.32233772e+02  2.28218471e+00]]

In [30]:
df2.to_numpy()

array([[1.0, Timestamp('2022-02-03 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-02-03 00:00:00'), 1.0, 3, 'Woman',
        'females'],
       [1.0, Timestamp('2022-02-03 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-02-03 00:00:00'), 1.0, 3, 'Woman',
        'females']], dtype=object)

In [31]:
df.describe()

                E           F           G           H
count   29.000000   29.000000   29.000000   29.000000
mean    12.892336  -12.690629  -12.415540   -6.547439
std    102.537421  121.208342   93.242140  114.287914
min   -251.090504 -231.934987 -155.945767 -242.706528
25%    -31.839871  -87.863975  -79.552652  -71.078948
50%     25.793461  -57.112570  -32.360190    9.057819
75%     68.583095   75.752679   42.636194   61.316541
max    198.019010  326.305576  189.203332  267.391309

In [32]:
# To Transpose Data
print(df2)
df2.T

     A          B    C  D      E        F
0  1.0 2022-02-03  1.0  3   girl  females
1  1.0 2022-02-03  1.0  3  Woman  females
2  1.0 2022-02-03  1.0  3   girl  females
3  1.0 2022-02-03  1.0  3  Woman  females

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-02-03 00:00:00,2022-02-03 00:00:00,2022-02-03 00:00:00,2022-02-03 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,Woman,girl,Woman
F,females,females,females,females

In [33]:
import pandas as pd
import numpy as np
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame((np.random.randn(29,4)*100),index=dates, columns=list("EFGH"))
print(df)
df.sort_index(axis=0, ascending=True)

                     E           F           G           H
2024-02-01   67.677945 -106.398823   -1.283135 -153.954645
2024-02-02 -201.067076  280.391568  -76.022516   -9.420013
2024-02-03    3.011087 -123.763823    5.343296  -30.462647
2024-02-04   42.652784   14.887071    9.095777  -97.605806
2024-02-05   92.430301   78.923473  155.060061   28.522323
2024-02-06   72.847125  126.363105  -58.400221   -7.586126
2024-02-07   11.036639  128.808386  141.679465  -66.418204
2024-02-08  -54.385732   48.029195   72.807027  207.337265
2024-02-09 -108.175908  131.256685  113.158629  213.613187
2024-02-10 -130.474692 -100.339450  302.551187  158.193293
2024-02-11 -201.307170   45.589826   89.532680 -202.034682
2024-02-12   29.097141   56.856603   82.779835 -153.151549
2024-02-13   56.233057  -62.090831 -101.490251   72.549286
2024-02-14  112.180910    7.813869  -22.242082 -144.746411
2024-02-15  -59.318077   55.680854   -7.863160   83.166250
2024-02-16 -180.203673   78.606954  110.854484  -56.969845
2024-02-17    2.496713  -55.282746   -5.161692  -56.193488
2024-02-18   34.603721   36.986920 -101.555164  165.373588
2024-02-19   -1.971798   -9.161185  132.606743 -117.846056
2024-02-20 -103.696557    5.640066  -85.098641 -186.387482
2024-02-21   64.585223 -134.351195  -89.308465  -86.888457
2024-02-22  -89.004926  -85.887888   65.793554  -39.712654
2024-02-23  -37.310441   -0.433275   40.838680 -106.984324
2024-02-24  -27.020037 -101.260790 -133.305929   74.757665
2024-02-25   67.277870  138.448986  -40.873517   39.468745
2024-02-26  -69.134307  -29.163994   70.046398   37.995813
2024-02-27   11.802049   85.935609   16.046156   94.097962
2024-02-28  -46.334625   43.029307  -88.083618 -144.811241
2024-02-29    0.615009   19.201662   46.723658   66.631311

                     E           F           G           H
2024-02-01   67.677945 -106.398823   -1.283135 -153.954645
2024-02-02 -201.067076  280.391568  -76.022516   -9.420013
2024-02-03    3.011087 -123.763823    5.343296  -30.462647
2024-02-04   42.652784   14.887071    9.095777  -97.605806
2024-02-05   92.430301   78.923473  155.060061   28.522323
2024-02-06   72.847125  126.363105  -58.400221   -7.586126
2024-02-07   11.036639  128.808386  141.679465  -66.418204
2024-02-08  -54.385732   48.029195   72.807027  207.337265
2024-02-09 -108.175908  131.256685  113.158629  213.613187
2024-02-10 -130.474692 -100.339450  302.551187  158.193293
2024-02-11 -201.307170   45.589826   89.532680 -202.034682
2024-02-12   29.097141   56.856603   82.779835 -153.151549
2024-02-13   56.233057  -62.090831 -101.490251   72.549286
2024-02-14  112.180910    7.813869  -22.242082 -144.746411
2024-02-15  -59.318077   55.680854   -7.863160   83.166250
2024-02-16 -180.203673   78.606954  110.854484  -56.969845
2024-02-17    2.496713  -55.282746   -5.161692  -56.193488
2024-02-18   34.603721   36.986920 -101.555164  165.373588
2024-02-19   -1.971798   -9.161185  132.606743 -117.846056
2024-02-20 -103.696557    5.640066  -85.098641 -186.387482
2024-02-21   64.585223 -134.351195  -89.308465  -86.888457
2024-02-22  -89.004926  -85.887888   65.793554  -39.712654
2024-02-23  -37.310441   -0.433275   40.838680 -106.984324
2024-02-24  -27.020037 -101.260790 -133.305929   74.757665
2024-02-25   67.277870  138.448986  -40.873517   39.468745
2024-02-26  -69.134307  -29.163994   70.046398   37.995813
2024-02-27   11.802049   85.935609   16.046156   94.097962
2024-02-28  -46.334625   43.029307  -88.083618 -144.811241
2024-02-29    0.615009   19.201662   46.723658   66.631311

In [34]:
print(df)
df.sort_index(axis=1, ascending=False)

                     E           F           G           H
2024-02-01   67.677945 -106.398823   -1.283135 -153.954645
2024-02-02 -201.067076  280.391568  -76.022516   -9.420013
2024-02-03    3.011087 -123.763823    5.343296  -30.462647
2024-02-04   42.652784   14.887071    9.095777  -97.605806
2024-02-05   92.430301   78.923473  155.060061   28.522323
2024-02-06   72.847125  126.363105  -58.400221   -7.586126
2024-02-07   11.036639  128.808386  141.679465  -66.418204
2024-02-08  -54.385732   48.029195   72.807027  207.337265
2024-02-09 -108.175908  131.256685  113.158629  213.613187
2024-02-10 -130.474692 -100.339450  302.551187  158.193293
2024-02-11 -201.307170   45.589826   89.532680 -202.034682
2024-02-12   29.097141   56.856603   82.779835 -153.151549
2024-02-13   56.233057  -62.090831 -101.490251   72.549286
2024-02-14  112.180910    7.813869  -22.242082 -144.746411
2024-02-15  -59.318077   55.680854   -7.863160   83.166250
2024-02-16 -180.203673   78.606954  110.854484  -56.969845
2024-02-17    2.496713  -55.282746   -5.161692  -56.193488
2024-02-18   34.603721   36.986920 -101.555164  165.373588
2024-02-19   -1.971798   -9.161185  132.606743 -117.846056
2024-02-20 -103.696557    5.640066  -85.098641 -186.387482
2024-02-21   64.585223 -134.351195  -89.308465  -86.888457
2024-02-22  -89.004926  -85.887888   65.793554  -39.712654
2024-02-23  -37.310441   -0.433275   40.838680 -106.984324
2024-02-24  -27.020037 -101.260790 -133.305929   74.757665
2024-02-25   67.277870  138.448986  -40.873517   39.468745
2024-02-26  -69.134307  -29.163994   70.046398   37.995813
2024-02-27   11.802049   85.935609   16.046156   94.097962
2024-02-28  -46.334625   43.029307  -88.083618 -144.811241
2024-02-29    0.615009   19.201662   46.723658   66.631311

                     H           G           F           E
2024-02-01 -153.954645   -1.283135 -106.398823   67.677945
2024-02-02   -9.420013  -76.022516  280.391568 -201.067076
2024-02-03  -30.462647    5.343296 -123.763823    3.011087
2024-02-04  -97.605806    9.095777   14.887071   42.652784
2024-02-05   28.522323  155.060061   78.923473   92.430301
2024-02-06   -7.586126  -58.400221  126.363105   72.847125
2024-02-07  -66.418204  141.679465  128.808386   11.036639
2024-02-08  207.337265   72.807027   48.029195  -54.385732
2024-02-09  213.613187  113.158629  131.256685 -108.175908
2024-02-10  158.193293  302.551187 -100.339450 -130.474692
2024-02-11 -202.034682   89.532680   45.589826 -201.307170
2024-02-12 -153.151549   82.779835   56.856603   29.097141
2024-02-13   72.549286 -101.490251  -62.090831   56.233057
2024-02-14 -144.746411  -22.242082    7.813869  112.180910
2024-02-15   83.166250   -7.863160   55.680854  -59.318077
2024-02-16  -56.969845  110.854484   78.606954 -180.203673
2024-02-17  -56.193488   -5.161692  -55.282746    2.496713
2024-02-18  165.373588 -101.555164   36.986920   34.603721
2024-02-19 -117.846056  132.606743   -9.161185   -1.971798
2024-02-20 -186.387482  -85.098641    5.640066 -103.696557
2024-02-21  -86.888457  -89.308465 -134.351195   64.585223
2024-02-22  -39.712654   65.793554  -85.887888  -89.004926
2024-02-23 -106.984324   40.838680   -0.433275  -37.310441
2024-02-24   74.757665 -133.305929 -101.260790  -27.020037
2024-02-25   39.468745  -40.873517  138.448986   67.277870
2024-02-26   37.995813   70.046398  -29.163994  -69.134307
2024-02-27   94.097962   16.046156   85.935609   11.802049
2024-02-28 -144.811241  -88.083618   43.029307  -46.334625
2024-02-29   66.631311   46.723658   19.201662    0.615009

In [35]:
df.sort_values(by="H", ascending=False)

                     E           F           G           H
2024-02-09 -108.175908  131.256685  113.158629  213.613187
2024-02-08  -54.385732   48.029195   72.807027  207.337265
2024-02-18   34.603721   36.986920 -101.555164  165.373588
2024-02-10 -130.474692 -100.339450  302.551187  158.193293
2024-02-27   11.802049   85.935609   16.046156   94.097962
2024-02-15  -59.318077   55.680854   -7.863160   83.166250
2024-02-24  -27.020037 -101.260790 -133.305929   74.757665
2024-02-13   56.233057  -62.090831 -101.490251   72.549286
2024-02-29    0.615009   19.201662   46.723658   66.631311
2024-02-25   67.277870  138.448986  -40.873517   39.468745
2024-02-26  -69.134307  -29.163994   70.046398   37.995813
2024-02-05   92.430301   78.923473  155.060061   28.522323
2024-02-06   72.847125  126.363105  -58.400221   -7.586126
2024-02-02 -201.067076  280.391568  -76.022516   -9.420013
2024-02-03    3.011087 -123.763823    5.343296  -30.462647
2024-02-22  -89.004926  -85.887888   65.793554  -39.712654
2024-02-17    2.496713  -55.282746   -5.161692  -56.193488
2024-02-16 -180.203673   78.606954  110.854484  -56.969845
2024-02-07   11.036639  128.808386  141.679465  -66.418204
2024-02-21   64.585223 -134.351195  -89.308465  -86.888457
2024-02-04   42.652784   14.887071    9.095777  -97.605806
2024-02-23  -37.310441   -0.433275   40.838680 -106.984324
2024-02-19   -1.971798   -9.161185  132.606743 -117.846056
2024-02-14  112.180910    7.813869  -22.242082 -144.746411
2024-02-28  -46.334625   43.029307  -88.083618 -144.811241
2024-02-12   29.097141   56.856603   82.779835 -153.151549
2024-02-01   67.677945 -106.398823   -1.283135 -153.954645
2024-02-20 -103.696557    5.640066  -85.098641 -186.387482
2024-02-11 -201.307170   45.589826   89.532680 -202.034682

In [36]:

df["F"]

2024-02-01   -106.398823
2024-02-02    280.391568
2024-02-03   -123.763823
2024-02-04     14.887071
2024-02-05     78.923473
2024-02-06    126.363105
2024-02-07    128.808386
2024-02-08     48.029195
2024-02-09    131.256685
2024-02-10   -100.339450
2024-02-11     45.589826
2024-02-12     56.856603
2024-02-13    -62.090831
2024-02-14      7.813869
2024-02-15     55.680854
2024-02-16     78.606954
2024-02-17    -55.282746
2024-02-18     36.986920
2024-02-19     -9.161185
2024-02-20      5.640066
2024-02-21   -134.351195
2024-02-22    -85.887888
2024-02-23     -0.433275
2024-02-24   -101.260790
2024-02-25    138.448986
2024-02-26    -29.163994
2024-02-27     85.935609
2024-02-28     43.029307
2024-02-29     19.201662
Freq: D, Name: F, dtype: float64

In [37]:
# Row wise selection
df[10:12]

                     E          F          G           H
2024-02-11 -201.307170  45.589826  89.532680 -202.034682
2024-02-12   29.097141  56.856603  82.779835 -153.151549

In [38]:
df.loc[dates[0]]

E     67.677945
F   -106.398823
G     -1.283135
H   -153.954645
Name: 2024-02-01 00:00:00, dtype: float64

In [39]:
df.loc[dates[20]]

E     64.585223
F   -134.351195
G    -89.308465
H    -86.888457
Name: 2024-02-21 00:00:00, dtype: float64

In [40]:
df.loc[dates[11:20:2]]

                     E          F           G           H
2024-02-12   29.097141  56.856603   82.779835 -153.151549
2024-02-14  112.180910   7.813869  -22.242082 -144.746411
2024-02-16 -180.203673  78.606954  110.854484  -56.969845
2024-02-18   34.603721  36.986920 -101.555164  165.373588
2024-02-20 -103.696557   5.640066  -85.098641 -186.387482

In [41]:
df.loc[:, ['E', 'F']]

                     E           F
2024-02-01   67.677945 -106.398823
2024-02-02 -201.067076  280.391568
2024-02-03    3.011087 -123.763823
2024-02-04   42.652784   14.887071
2024-02-05   92.430301   78.923473
2024-02-06   72.847125  126.363105
2024-02-07   11.036639  128.808386
2024-02-08  -54.385732   48.029195
2024-02-09 -108.175908  131.256685
2024-02-10 -130.474692 -100.339450
2024-02-11 -201.307170   45.589826
2024-02-12   29.097141   56.856603
2024-02-13   56.233057  -62.090831
2024-02-14  112.180910    7.813869
2024-02-15  -59.318077   55.680854
2024-02-16 -180.203673   78.606954
2024-02-17    2.496713  -55.282746
2024-02-18   34.603721   36.986920
2024-02-19   -1.971798   -9.161185
2024-02-20 -103.696557    5.640066
2024-02-21   64.585223 -134.351195
2024-02-22  -89.004926  -85.887888
2024-02-23  -37.310441   -0.433275
2024-02-24  -27.020037 -101.260790
2024-02-25   67.277870  138.448986
2024-02-26  -69.134307  -29.163994
2024-02-27   11.802049   85.935609
2024-02-28  -46.334625   43.029307
2024-02-29    0.615009   19.201662

In [42]:
import pandas as pd
import numpy as np
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame((np.random.randn(29,4)*100),index=dates, columns=list("EFGH"))
df.loc['2024-02-01'::7, ['E', 'F']]

                     E           F
2024-02-01   41.622127   -2.351054
2024-02-08  -93.989047  258.011582
2024-02-15 -172.878426   15.651413
2024-02-22 -283.596308  111.943016
2024-02-29 -152.127186  -31.313077

In [43]:
import pandas as pd
import numpy as np
dates = pd.date_range('20240201', '20240229' ,freq='D')
df = pd.DataFrame((np.random.randn(29,4)*100),index=dates, columns=list("EFGH"))
print(df)
df.at[dates[0],'E']

                     E           F           G           H
2024-02-01   67.535752  -45.661836  -84.734314   29.288862
2024-02-02   -7.622583   -6.753577  -75.615217   26.229986
2024-02-03  -13.298226  128.069302 -153.783061   31.517723
2024-02-04 -151.782037  -75.365559  -23.674051   67.200805
2024-02-05  -68.096505   48.947151   51.757331  -23.830730
2024-02-06   98.377959 -196.451535  196.266954  192.316911
2024-02-07  -36.410217   13.536455   45.821660   67.492709
2024-02-08  -82.548808   50.654651   77.470136 -103.033020
2024-02-09  -12.661491  -72.440738  102.866216  -14.579252
2024-02-10   14.936590  143.145645  -12.325382 -100.130710
2024-02-11  -83.250840   13.784390   72.663451   62.482091
2024-02-12  -62.409056  177.193281  -14.625718 -170.778610
2024-02-13  -68.536758    8.126092 -122.455758  266.634698
2024-02-14  123.962833   -4.291605   68.092691 -143.696388
2024-02-15 -113.704420   61.065042  159.615785  -74.918120
2024-02-16  -10.303999  152.774071 -146.224930  -71.131959
2024-02-17   25.374444   17.910270  -65.235513   -4.770010
2024-02-18   29.307581  -87.910343 -156.627799   47.211702
2024-02-19  -10.856677   -8.437958   70.457057  -23.925911
2024-02-20   67.919822  110.353572  -11.632537    3.361152
2024-02-21 -168.912769  -64.172682 -100.525745   72.062044
2024-02-22   19.620659  -87.916724  140.489351  -34.658728
2024-02-23  -76.800099  -94.657247   36.363832  185.934123
2024-02-24  -23.944674   17.573936   -3.548792 -101.950081
2024-02-25   97.365197   -4.270264 -126.654022 -114.263725
2024-02-26  163.043956   14.870660   40.813733  -61.684335
2024-02-27   31.780631 -136.529741  170.810620    1.859428
2024-02-28  -46.036715  -29.067882  116.703529   -5.743480
2024-02-29   81.856192   66.934352  -62.758880  -31.492207

67.53575188422401

In [44]:
df.iloc[3]

E   -151.782037
F    -75.365559
G    -23.674051
H     67.200805
Name: 2024-02-04 00:00:00, dtype: float64

In [45]:
df.iloc[3:10]

                     E           F           G           H
2024-02-04 -151.782037  -75.365559  -23.674051   67.200805
2024-02-05  -68.096505   48.947151   51.757331  -23.830730
2024-02-06   98.377959 -196.451535  196.266954  192.316911
2024-02-07  -36.410217   13.536455   45.821660   67.492709
2024-02-08  -82.548808   50.654651   77.470136 -103.033020
2024-02-09  -12.661491  -72.440738  102.866216  -14.579252
2024-02-10   14.936590  143.145645  -12.325382 -100.130710

In [46]:
df.iloc[0:5, 0:6]

                     E           F           G          H
2024-02-01   67.535752  -45.661836  -84.734314  29.288862
2024-02-02   -7.622583   -6.753577  -75.615217  26.229986
2024-02-03  -13.298226  128.069302 -153.783061  31.517723
2024-02-04 -151.782037  -75.365559  -23.674051  67.200805
2024-02-05  -68.096505   48.947151   51.757331 -23.830730

In [47]:
df[df["F"]<100]

                     E           F           G           H
2024-02-01   67.535752  -45.661836  -84.734314   29.288862
2024-02-02   -7.622583   -6.753577  -75.615217   26.229986
2024-02-04 -151.782037  -75.365559  -23.674051   67.200805
2024-02-05  -68.096505   48.947151   51.757331  -23.830730
2024-02-06   98.377959 -196.451535  196.266954  192.316911
2024-02-07  -36.410217   13.536455   45.821660   67.492709
2024-02-08  -82.548808   50.654651   77.470136 -103.033020
2024-02-09  -12.661491  -72.440738  102.866216  -14.579252
2024-02-11  -83.250840   13.784390   72.663451   62.482091
2024-02-13  -68.536758    8.126092 -122.455758  266.634698
2024-02-14  123.962833   -4.291605   68.092691 -143.696388
2024-02-15 -113.704420   61.065042  159.615785  -74.918120
2024-02-17   25.374444   17.910270  -65.235513   -4.770010
2024-02-18   29.307581  -87.910343 -156.627799   47.211702
2024-02-19  -10.856677   -8.437958   70.457057  -23.925911
2024-02-21 -168.912769  -64.172682 -100.525745   72.062044
2024-02-22   19.620659  -87.916724  140.489351  -34.658728
2024-02-23  -76.800099  -94.657247   36.363832  185.934123
2024-02-24  -23.944674   17.573936   -3.548792 -101.950081
2024-02-25   97.365197   -4.270264 -126.654022 -114.263725
2024-02-26  163.043956   14.870660   40.813733  -61.684335
2024-02-27   31.780631 -136.529741  170.810620    1.859428
2024-02-28  -46.036715  -29.067882  116.703529   -5.743480
2024-02-29   81.856192   66.934352  -62.758880  -31.492207